<template>
    <div>
        <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <h1>Welcome <strong>{{ name }}</strong> to  your Chat</h1>
                    <hr>
                    <br>
                    <br>
                    <nav class="scrollMe" aria-label="breadcrumb" v-chat-scroll>
                        <ol class="breadcrumb" v-for="message in messages" :key="message.id">
                            <li class="breadcrumb-item"><a href="#">{{ message.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ message.message }}</li>
                            <li class="breadcrumb-item float-right">{{ moment(message.timestamp).format('lll') }}</li>
                        </ol>
                    </nav>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Enter  Your Message</span>
                        </div>
                        <textarea v-model="message" @keypress.enter.prevent="AddNewMessage" class="form-control" aria-label="With textarea"></textarea>
                    </div>
                                            <p class="d-block" v-if="feedback">{{ feedback }}</p>

                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import db from '../firebase/init'
export default {
    name: 'Chat',
    props: ['name'],
    data(){
        return {
            message: null,
            feedback: null,
            messages: []
        }
    },
    created(){
        let ref = db.collection('message').orderBy('timestamp')
        ref.onSnapshot(snapshot => { // here onSnapshort works when thie message table or cullaction update , create delete thats t ime firebase take a snapshort
        snapshot.docChanges().forEach(change => {
            if (change.type == 'added') {
                let mes = change.doc.data();
                mes.id = change.doc.id;
                this.messages.push(mes)
            }   
            
        })  
        })
    },
    methods: {
        AddNewMessage()
        {
            if(this.message){
                db.collection('message').add({
                    name: this.name,
                    message: this.message,
                    timestamp: Date.now()
                })
                .then(res => {
                    res
                    this.message = null
                    this.feedback = null
                })
            }else{
                this.feedback = "Please enter your message"
            }
            
        }
    }
}
</script>


<style scoped>
    #login .container #login-row #login-column #login-box {
    margin-top: 100px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    }
    #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    }
    #register-link{
        clear: both;
    }
    .scrollMe{
        height: 300px;
        overflow: auto;
    }
</style>


