<template>
    <div>
        <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form @submit.prevent="goToChat" id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Welcome</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input v-model="name" type="text" name="username" id="username" class="form-control">
                                <p v-if="feedback">{{ feedback }}</p>
                            </div>
                            <button class="btn btn-primary">Enter Chat</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name: 'Home',
    data(){
        return {
            name: null,
            feedback: null,
        }
    },
    methods:{
        goToChat(){
            if(this.name){
                this.$router.push({name: 'Chat', params: {name:this.name}})
            }else{
                this.feedback = "Please enter name"
            }
        }
    }
}
</script>


<style scoped>
    #login .container #login-row #login-column #login-box {
    margin-top: 100px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    }
    #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
    }
    #register-link{
        clear: both;
    }
</style>


